<% @posts.each do |post| %>
  <!-- Posts -->
  <div class="w3-container">
    <h2><b><%= link_to post.title, post_path(post), class: "w3-xxlarge title" %></h2>
    <h3 class="w3-text-theme"><i><%= post.subtitle %></i></h3>
    <hr class="w3-round">
  </div>
<% end %>